<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw"></i>&nbsp;{{ 'dashboard' | translate }}
        </a>
        <a [routerLink]="['/associados']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw"></i>&nbsp;{{ 'Associados' | translate }}
        </a>
        <a [routerLink]="['/empresas']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw"></i>&nbsp;{{ 'Empresas' | translate }}
        </a>
        <a [routerLink]="['/notasfiscais']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-associados"></i>&nbsp;{{ 'NF' | translate }}
        </a>
        <a [routerLink]="['/pagamentos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-associados"></i>&nbsp;{{ 'Pagamentos' | translate }}

        </a>

        <a [routerLink]="['/areaatuacao']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw"></i>&nbsp;{{ 'Area de Atuação' | translate }}

        </a>
        <a [routerLink]="['/usuarios']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw"></i>&nbsp;{{ 'Usuarios' | translate }}

        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw"></i>&nbsp;{{ 'Relatórios' | translate }}
        </a>
        <!--a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'boostrapGrid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'component' | translate }}
        </a-->
        <!--div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp;{{ 'menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div-->
        <a
           [routerLinkActive]="['router-link-active']"
           class="list-group-item"  (click)="logout()">
            <i class="fa fa-fw"></i>&nbsp;{{ 'Logout' | translate }}
        </a>
    </ul>
</nav>
