<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Liame!!</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav ml-auto mt-2 mt-md-0">

                 <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-bell"></i><span class="sr-only">{{avisoNovos}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item">Empresas<span class="badge badge-info">{{novasEmpresas}}</span></a>
                        <a href="javascript:void(0)" class="dropdown-item">NFs <span class="badge badge-info"> {{novasNotas}}</span></a>
                        <a href="javascript:void(0)" class="dropdown-item">Associados <span class="badge badge-info"> {{novosAssociados}}</span></a>
                        <li class="dropdown-divider"></li>
                        <a href="javascript:void(0)" class="dropdown-item">Ver Todas</a>
                    </ul>
                </li>

                <li class="nav-item dropdown" ng-if="usuario" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-user"></i> {{usuario.email}} <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" >
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-user"></i> Profile</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
