<app-page-header [heading]="'Detalhes'" [icon]="'fa-table'"></app-page-header>
<div class="row">

    <style>

        html, body { height: 100%; width: 100%; margin: 0; }

        .padrao3 {
            box-sizing: border-box;
            width: 85px;
            display: inline-block;
            text-align: center;
            float: left;
        }

    </style>



</div>
<div class="row">

    <form [formGroup]="meuForm">
        <button aria-label="Previous" href="" tabindex="-1">
            <span aria-hidden="true" (click)="voltaTipo()">«Voltar</span>
        </button>


        <div class="form-group" >
            <label class="padrao3">NF</label>
            <div *ngIf="pagamento.nfs">{{pagamento.nfs.numero}}</div>
            <br />
        </div>
        <div class="form-group" >

            <label class="padrao3" for="status">Status</label>
            <select class="form-control fc0" id="status"
                    name="status" formControlName="status" id="status">
                <option value="0">Nenhum</option>
                <option *ngFor="let key of keys"
                        [value]="key" [label]="statusPagamento[key]"
                        [selected]="(pagamento) && (key == pagamento.status)"></option>
            </select>
            <br />
        </div>
        <div class="form-group" >
            <label class="padrao3" for="valor">Valor</label>
            <input type="text"  class="form-control" currencyMask [(ngModel)]="value" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" id="valor"
                   formControlName="valor"  aria-describedby="emailHelp" placeholder="R$ 0000,00">
        </div>
        <div class="form-group">
            <label class="padrao3" for="valor_taxa">Taxa Adm</label>
            <input type="text" class="form-control" currencyMask [(ngModel)]="value1" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" id="valor_taxa"
                   formControlName="taxa_adm"
                   placeholder="R$ 0000,00">
        </div>
        <div class="form-group">
            <label class="padrao3" for="desconto">Desconto</label>
            <input type="text" class="form-control" currencyMask [(ngModel)]="value2" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" id="desconto"
                   formControlName="desconto" aria-describedby="emailHelp2" placeholder="R$ 0000,00">
        </div><div class="form-group">
            <label class="padrao3" for="acrescimo">Acrescimo</label>
            <input type="text" class="form-control"
                   currencyMask [(ngModel)]="value3"
                   [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" id="acrescimo"
                   formControlName="acrescimo" aria-describedby="emailHelp2" placeholder="R$ 0000,00">
        </div>
        <!--div class="form-group">
            <label for="is_quitada">Quitada</label>
            <input type="text" class="form-control"
                   formControlName="is_quitada" id="is_quitada" placeholder="is_quitada" >
        </div-->

        <div class="form-group" *ngIf="associado">
            <label class="padrao3" >Associado</label>
            {{ associado.nome}}

        </div>
        <div class="form-group">
            <label class="padrao3" for="obs">Obs:</label>
            <input type="text" name="obs"
                   formControlName="obs"
                   class="form-control" id="obs"  placeholder="Observação">
        </div>
        <button class="danger" (click)="deletaPagamento(idNotaFiscal)" >DELETAR</button>
        <button (click)="salvaPagamento()" >SALVAR</button>
<div *ngIf="pagamento.auditor">
    <h2>Histórico</h2>
    <ul *ngFor="let hst of historico">
        <li class="list-group-item li" >{{hst.columnName}} - De {{hst.oldValue}} para {{hst.newValue}} em {{hst.createdAt | date}}</li>
    </ul>
</div>
    </form>
</div>

