<app-page-header [heading]="'Pagamentos'" [icon]="'fa fa-fw fa-bar-associados'"></app-page-header>
<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="row">




    <style>

        html, body { height: 100%; width: 100%; margin: 0; }

        .ngx-datatable{
            height: 100%;
            width: 100%;
        }
        .row{
            width: 100%;
        }
        .plus{
            padding-left: 4px;
        }
        .datatable-icon-skip:before {
            content: "\71";
        }
        .datatable-scroll, .datatable-body{
            width: 100% !important;
        }

    </style>





</div>
<div class="row plus"><button (click)="detalhes(0)">Novo</button></div>
<!--<div class="row plus">-->
    <!--<input-->
        <!--type='text'-->
        <!--[(ngModel)]="busca"-->
        <!--placeholder='Filtre por'-->
    <!--/><button (click)="filtrar()">Filtrar</button>-->
<!--</div>-->
<div class="row plus">
    <!-- <div style="display:block;width: 100%">
        <label class="padrao0" for="ftrEmpresa">Empresa:</label>
        <select class="form-control fc0" id="ftrEmpresa" name="ftrEmpresa" [ngModel]="idLstEmpresa" (change)="changeLstEmpresas($event.target)">
            <option value="" selected >Todas</option>
            <option *ngFor="let op of lstEmpresas" [value]="op.id">{{op.nome_fantasia}}</option>
        </select>
    </div> -->
    <div style="display:block; width:100%">
        <label class="padrao0" for="ftrAssociado">Associado:</label>
        <select class="form-control fc0" id="ftrAssociado" name="ftrAssociado"  (change)="changeLstAssociados($event.target)">
            <option value="0">Todos</option>
            <option *ngFor="let op of lstAssociados" [value]="op.id">{{op.nome}}</option>
        </select>
    </div>
    <div class="statusEnotas">
        <div class="box0">
            <label class="padrao2" for="ftrStatusPag">Status:</label>
            <select class="form-control fc0 exp" id="ftrStatusPag" name="ftrStatusPag" (change)="changeLstStatus($event.target)">
                <option value="0">Todos</option>
                <option *ngFor="let key of keys" [value]="key" [label]="statusPagamento[key]">{{key}}</option>
            </select>
        </div>
        <div class="box0">
            <label class="padrao2" for="ftrNotaFiscal">Nota Fiscal:</label>
            <select class="form-control fc0 exp" id="ftrNotaFiscal" name="ftrStatusPag" (change)="changeLstNotas($event.target)">
                <option value="0">Todas</option>
                <option *ngFor="let op of lstNotas" [value]="op">{{op.id}}</option>
            </select>
        </div>
    </div>
</div>
<div class="row plus">
    <div class="statusEnotas">
        <div class="box0">
            <label class="padrao2" for="ftrDataInicio">De:</label>
            <input type="date"
                    class="form-control fc0 exp" id="ftrDataInicio"  [ngModel]="dtLstInicio" (change)="changeDataInicio($event.target)">
        </div>
        <div class="box0">
            <label class="padrao2" for="ftrDataFim">Até:</label>
            <input type="date"
                   class="form-control fc0 exp" id="ftrDataFim" [ngModel]="dtLstFim"  (change)="changeDataFim($event.target)">
        </div>
    </div>
</div>
<div class="row plus">
    <ngx-datatable
        #myTable
        #table
        class='material expandable'
        [columnMode]=" flex"
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="50"
        [scrollbarV]="false"
        [rows]='linhas'
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.pageSize"
        (page)="setPage($event)"
        (sort)="onSort($event)"
        [externalSorting]="true"
        [externalPaging]="true"
    >


        <input
            type='text'
            placeholder='Filtro'
        />

        <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-row="linha" ngx-datatable-row-detail-template>
                <div style="padding-left:35xpx;">


                </div>
            </ng-template>
        </ngx-datatable-row-detail>




        <ngx-datatable-column
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="true"
            [flexGrow]="1"
        >
           <!--  <ng-template let-row="row" ngx-datatable-cell-template>
                <a

                    [class.datatable-icon-right]="!row.$$expanded"
                    [class.datatable-icon-down]="row.$$expanded"
                    title="Expand/Collapse Row"
                    (click)="toggleExpandRow(row)">
                </a>
            </ng-template> -->
        </ngx-datatable-column>


        <!--ngx-datatable-column [flexGrow]="1" name="ID">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="idStyle {{row.status}}" (click)="detalhes(row.id)">{{row.id}}</a>
            </ng-template>
        </ngx-datatable-column-->
        <ngx-datatable-column name="Associado" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                <i *ngIf="row.associado"  (click)="detalhes(row.id)">{{row.associado.nome}}</i>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>

                <i *ngIf="row.status"> {{ statusPagamento[row.status] }}</i>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="NFs" [flexGrow]="1" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                <i *ngIf="row.nfs">{{row.nfs.numero}}</i>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Repasse" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.valor| currency : R$ : 2 }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Data Quitacao" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.data_quitacao| date }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Pagamento" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.data_pagamento| date }}
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>


</div>
