@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
.centralizando{
    align: center !important;

}
.sidebar{
    background-color: #292b2c;
    float:left;
    width:19%;
}
.list-group-item{
    background-color: #292b2c;

}
.form-control{
    float:right;
}
div.datatable-row-center > datatable-header-cell:first-of-type, div.datatable-row-group > datatable-body-cell:first-of-type {
    width:50px!important;
    border-right: none;
}
div.datatable-row-group > datatable-body-cell:last-of-type{
    border-right: none; 
}
div.datatable-row-group > datatable-body-cell:second-of-type{
    width: 100px!important; 
}
div.datatable-row-group > datatable-body-cell{
    border-right: solid lightgrey 2px;
    margin-top: 7px;    
    height:40px!important;
}
.ngx-datatable{
	width: 100% !important;
}
.ngx-datatable.material .datatable-body .datatable-row-detail{
    padding: 0;
    background-color: #CDE7DC;    
}
button, input{ 
	padding: 7px 10px 7px 10px;
	margin: 3px;
	line-height: normal;
}
button{
	background-color: #B7D9CB;
	color: white;
	border-style: none;
}
input{
	background-color: white; 
}
b.botao,a.botao{
	font-weight: normal;
	font-size: 1.2rem;
	font-family: inherit;
	border: solid 2px #CDE7DC;
	padding: 1px 53px 1px 51px;
}
span.botao {
	border: solid 2px #CDE7DC;
}
a.botao.endereço{
	padding: 1px 53px 1px 53px;
	background-color: #C7E1D6;
	border-radius: 0px;
}
a.botao.detalhes{
	padding: 1px 58px 1px 58px;	
	background-color: #C7E1D7;
	font-size: 1.1em;		
}
.notas {
	background-color: #C7E1D7;
	width: 171px;		
	padding: 1px 10px 1px 10px;	
}
.areaAtuaçao {
	padding: 1px 34px 1px 34px;	
	background-color: #B9D9CC;
}
.subTabela{
	background-color: #CDE7DC;	
}
b.infoBanco{
	background-color: #B9D9CC;
	padding: 1px 53px 1px 53px;	
}
.nomeArt{
	background-color: #B9D9CC;
	padding: 1px 56px 1px 56px;	
}
div a:not([href]):not([tabindex]).idStyle{
	color: orange;
}
div a:not([href]):not([tabindex]).idStyle.certo{
	color: #6bcea5;
}
div a:not([href]):not([tabindex]).idStyle.emDia{
	color: #8CC5E3;
}
div a:not([href]):not([tabindex]).idStyle.emAtraso{
	color: #D68281;
}