<app-page-header [heading]="'Detalhes'" [icon]="'fa-table'"></app-page-header>
<div class="row">
    <div _ngcontent-c12="" class="alert alert-success" *ngIf="" >
        <strong ngcontent-c12="" >Feito!</strong> O usuário foi deletado.
    </div>
    <div _ngcontent-c12="" class="alert alert-info" *ngIf="avisoInfo">
        <strong _ngcontent-c12="">Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    <div _ngcontent-c12="" class="alert alert-warning" *ngIf="avisoAlerta">
        <strong _ngcontent-c12="">Warning!</strong> Best check yo self, you're not looking too good.
    </div>
    <!--div _ngcontent-c12="" class="alert alert-danger"  *ngIf="avisoErro">
        <strong _ngcontent-c12="">Oh snap!</strong> Change a few things up and try submitting again.
    </div-->


    <style>

        html, body { height: 100%; width: 100%; margin: 0; }



    </style>



</div>
<div class="row">

<form [formGroup]="meuForm">


    <div>
        Area de Atuacao
    </div>
    <div class="form-group" >
        <label for="nome">Nome</label>
        <input type="text"  class="form-control" id="nome"
               formControlName="nome"  aria-describedby="emailHelp" placeholder="Nome">
    </div>
    <div class="form-group">
        <label for="is_sub_item">Pai</label>
        <select class="form-control" id="is_sub_item"
                formControlName="is_sub_item" name="is_sub_item" >
            <option value="">--selecione uma area pai--</option>
            <option *ngFor="let c of areas" [ngValue]="c.id"
                    [selected]="(area) && (c.id === area.is_sub_item)">{{c.nome}}</option>

        </select>

    </div>




    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
        <label class="form-check-label">
            <input class="form-check-checkbox" type="checkbox" name="is_ativo"
                   formControlName="is_ativo"
                    > Ativo
        </label>
    </div>


    <button class="danger" (click)="deletaArea(idAreaAtuacao)" >DELETAR</button>
    <button (click)="salvaArea()" >SALVAR</button>

</form>
</div>

