<app-page-header [heading]="'Detalhes'" [icon]="'fa-table'"></app-page-header>


    <style>

        html, body { height: 100%; width: 100%; margin: 0; }



    </style>

<div class="row">

    <form [formGroup]="meuForm">
        <button aria-label="Previous" href="" tabindex="-1">
            <span aria-hidden="true" (click)="voltaTipo ()">«Voltar</span>
        </button>
        <button aria-label="Previous" href="" tabindex="-1">
            <span aria-hidden="true" (click)="editar ()">Editar</span>
        </button>

        <div>
            <h3>Notas Fiscais</h3>
        </div>
        <div class="form-group" >
            <label class="padrao3" for="descricao">Descrição</label>
            <input type="text" class="form-control" id="descricao"
                   formControlName="descricao"  aria-describedby="emailHelp" placeholder="desc">
        </div>
        <div class="form-group" >
            <label class="padrao3" for="valor">Valor</label>
            <input type="text"  class="form-control" currencyMask [(ngModel)]="value" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" id="valor" formControlName="valor"  aria-describedby="emailHelp" placeholder="R$ 0000,00">
        </div>
        <div class="form-group" >
            <label class="padrao3" for="statusnf">Status</label>
            <select class="form-control"  id="statusnf" name="statusnf" formControlName="statusnf"  aria-describedby="emailHelp">
                <option value="0">Todos</option>
                <option *ngFor="let key of keys" [value]="key" [label]="statusNotaFiscal[key]"></option>
            </select>
        </div>
        <div class="form-group">
            <label class="padrao3" for="valor_taxa">Valor Taxa</label>
            <input type="text" class="form-control" currencyMask [(ngModel)]="value1" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" id="valor_taxa" formControlName="valor_taxa"
                   placeholder="R$ 0000,00">

        </div>
        <div class="form-group">
            <label class="padrao3" for="numero">Numero</label>
            <input type="text" class="form-control" id="numero"
                   formControlName="numero" aria-describedby="emailHelp2" placeholder="numero">
        </div>
        <div class="form-group">
            <label class="padrao3" for="is_quitada">Quitada</label>
            <input type="text" class="form-control"
                   formControlName="is_quitada" id="is_quitada" placeholder="is_quitada" >
        </div>
        <!-- <div class="form-group">
            <label class="padrao3" for="obs">OBS</label>
            <input   type="text" class="form-control"   id="obs"
                     placeholder="obs"
                     formControlName="obs"  >
        </div> -->
        <div class="form-group">

            <label class="padrao3" for="associados">associado</label>
            <input type="text" name="associados"
                   formControlName="associados"
                   class="form-control" id="associados" mask="000.000.000-00" placeholder="Entre com seu CPF">
        </div>
        <div class="form-group">
            <label class="padrao3" for="obs">Obs:</label>
            <input type="text" name="obs"
                   formControlName="obs"
                   class="form-control" id="obs"  placeholder="Observação">
        </div>





        <button class="danger" (click)="deletaNotaFiscal(idNotaFiscal)" >DELETAR</button>
        <button (click)="salvaNotaFiscal()" >SALVAR</button>
<div class="list-group" *ngIf="nfs.auditor">
    <h2>Histórico</h2>
    <ul *ngFor="let hst of historico">
        <li class="list-group-item li">{{hst.columnName}} - De {{hst.oldValue}} para {{hst.newValue}} em {{hst.createdAt | date}}</li>
    </ul>
</div>
    </form>
</div>
<div class="row">
    <h3>Associados relacionados</h3></div>
<div class="row">
    <div>{{idLstAssociado}}Adicionar Associado:
        <select class="form-control fc0" id="ftrAssociado"
                name="ftrAssociado" [ngModel]="idLstAssociado" (change)="changeLstAssociados($event.target)">
        <option value="0">Nenhum</option>
        <option *ngFor="let op of lstAssociados" [value]="op.id">{{op.nome}}</option>
    </select><br />
    <button (click)="adicionarNFAss()">Adicionar</button>
    </div>
    <div class="row">
    <ul *ngFor="let ass of listaAssociados">
        <li><a href="/associado/perfil/{{ass.id}}" target="_blank">{{ass.nome}}</a>&nbsp;-&nbsp;<a (click)="removeNFAss(ass.id)">Remover da NF</a></li>
    </ul>
    </div>
</div>
