@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
.centralizando{
    align: center !important;

}
.sidebar{
    background-color: #292b2c;
    float:left;
    width:19%;
}
.list-group-item{
    background-color: #292b2c;

}
div.datatable-row-center > datatable-header-cell:first-of-type, div.datatable-row-group > datatable-body-cell:first-of-type {
    width:50px!important;
}
.ngx-datatable{
    width: 100% !important;
}
.ngx-datatable{
    height: 100%;
    width: 100%;
}
.row{
    width: 100%;
}
.datatable-icon-skip:before {
    content: "\71";
}
.datatable-scroll, .datatable-body{
    width: 100% !important;
}
button, input{
    padding: 7px 10px 7px 10px;
    margin: 3px;
    line-height: normal;
}
button{
    background-color: #B7D9CB;
    color: white;
    border-style: none;
}
input{
    background-color: white;
}
div a:not([href]):not([tabindex]).idStyle{
	color: orange;
}
div a:not([href]):not([tabindex]).idStyle.certo{
	color: #6bcea5;
}
div a:not([href]):not([tabindex]).idStyle.emDia{
	color: #8CC5E3;
}
div a:not([href]):not([tabindex]).idStyle.emAtraso{
	color: #D68281;
}
.botaoPadrao0 {
    box-sizing: border-box;
    width: 200px;
    font-weight: normal;
    font-size: 1.2rem;
    font-family: inherit;
    border: solid 2px #CDE7DC;
    background-color: #B9D9CC;
    display: inline-block;
    text-align: center;
}
.botaoPadrao1 {
    box-sizing: border-box;
    width: 200px;
    font-weight: normal;
    font-size: 1.2rem;
    font-family: inherit;
    border: solid 2px #CDE7DC;
    background-color: #C7E1D6;
    display: inline-block;
    text-align: center;
}
.form-control{
    width: 70%;
    display: inline-block;
}
.form-control.exp{
    width: 62%;
    display: inline-block;
}
div.statusEnotas{
    display: inline-block;
    width: 100%;
}
.padrao0 {
    box-sizing: border-box;
    width: 100px;
    display: inline-block;
    text-align: center;
    float: left;
}
.padrao1 {
    box-sizing: border-box;
    width: 25px;
    display: inline-block;
    text-align: center;
}
.padrao2 {
    box-sizing: border-box;
    width: 49px;
    display: inline-block;
    text-align: center;
    float: left;
}
.padrao3 {
    box-sizing: border-box;
    width: 80px;
    display: inline-block;
    text-align: center;
    float: left;
}
.box0 {
    box-sizing: border-box;
    width: 26%;
    display: inline-block;
    text-align: center;
    float: left;
}
.form-control.cal{
    width: 39%;
}
div.calendario{
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
}
.list-group-item.li{
    background-color: white;
}
@media screen and (min-width: 480px) {
    .botaoPadrao0 {
        box-sizing: border-box;
        width: 200px;
        font-weight: normal;
        font-size: 1.2rem;
        font-family: inherit;
        border: solid 2px #CDE7DC;
        background-color: #B9D9CC;
        display: inline-block;
        text-align: center;
    }
    .botaoPadrao1 {
        box-sizing: border-box;
        width: 200px;
        font-weight: normal;
        font-size: 1.2rem;
        font-family: inherit;
        border: solid 2px #CDE7DC;
        background-color: #C7E1D6;
        display: inline-block;
        text-align: center;
    }
    .form-control.fc0{
        width: 50%;
        display: inline-block;
    }
    .form-control.fc0.exp{
        width: 62%;
        display: inline-block;
        margin-top: 0px;
        margin-left: 0px;
    }
    div.statusEnotas{
        display: inline-block;
        width: 77%;
    }
    .padrao0 {
        box-sizing: border-box;
        width: 100px;
        display: inline-block;
        text-align: center;
        float: left;
    }
    .padrao1 {
        box-sizing: border-box;
        width: 25px;
        display: inline-block;
        text-align: center;
    }
    .padrao2 {
        box-sizing: border-box;
        width: 89px;
        display: inline-block;
        text-align: center;
        float: left;
    }
    .box0 {
        box-sizing: border-box;
        width: 40%;
        display: inline-block;
        text-align: center;
        float: left;
    }
    .form-control.cal{
        width: 39%;
    }
    div.calendario{
        box-sizing: border-box;
        width: 100%;
        display: inline-block;
    }

}
