<app-page-header [heading]="'Notas'" [icon]="'fa-bar-chart-o'"></app-page-header>
<div class="row">


    <style>

        html, body { height: 100%; width: 100%; margin: 0; }

        .ngx-datatable{
            height: 100%;
            width: 100%;
        }
        .row{
            width: 100%;
        }
        .plus{
            padding-left: 4px;
        }
        .datatable-icon-skip:before {
            content: "\71";
        }
        .datatable-scroll, .datatable-body{
            width: 100% !important;
        }

    </style>

</div>
<div class="row plus">
    <button (click)="detalhes(0)">Novo</button>
</div>
<div class="row plus">
        <input
            type='text'
            [(ngModel)]="busca"
            placeholder='Filtre por'
        /><button (click)="filtrar()">Filtrar</button>
</div>
<div class="row plus">
    <div style="display:block;width: 100%">
        <label class="padrao0" for="ftrEmpresa">Empresa:</label>
        <select class="form-control fc0" id="ftrEmpresa" name="ftrEmpresa"  (change)="changeLstEmpresas($event.target)">
            <option value="0">Todas</option>
            <option *ngFor="let op of lstEmpresas" [value]="op.id">{{op.nome_fantasia}}</option>
        </select>
    </div>
    <div style="display:block; width:100%">
        <label class="padrao0" for="ftrAssociado">Associado:</label>
        <select class="form-control fc0" id="ftrAssociado" name="ftrAssociado"   (change)="changeLstAssociados($event.target)">
            <option value="0">Todos</option>
            <option *ngFor="let op of lstAssociados" [value]="op.id">{{op.nome}}</option>
        </select>
    </div>
    <div style="display:block;width: 100%">
        <label class="padrao0" for="ftrStatusPag">Status:</label>
        <select class="form-control fc0" id="ftrStatusPag" name="ftrStatusPag" (change)="changeLstStatus($event.target)">
            <option value="0">Todos</option>
            <option *ngFor="let key of keys" [value]="key" [label]="statusNotaFiscal[key]">{{key}}</option>
        </select>
    </div>

    <!--

        <div class="form-group" >
            <label class="padrao3" for="statusnf">Status</label>
            <select class="form-control"  id="statusnf" name="statusnf" formControlName="statusnf"  aria-describedby="emailHelp">
                <option value="0">Todos</option>
                <option *ngFor="let key of keys" [value]="key" [label]="statusNotaFiscal[key]"></option>
            </select>
        </div>

     -->

</div>
<div class="row plus">
    <div class="statusEnotas">
        <div class="box0">
            <label class="padrao2" for="ftrDataInicio">De:</label>
            <input type="date"
                   class="form-control fc0 exp" id="ftrDataInicio"  [ngModel]="dtLstInicio" (change)="changeDataInicio($event.target)">
        </div>
        <div class="box0">
            <label class="padrao2" for="ftrDataFim">Até:</label>
            <input type="date"
                   class="form-control fc0 exp" id="ftrDataFim" [ngModel]="dtLstFim"  (change)="changeDataFim($event.target)">
        </div>
    </div>
</div>
        <ngx-datatable
            #myTable
            #table
            class='material expandable'
            [columnMode]=" flex"
            [headerHeight]="50"
            [footerHeight]="60"
            [rowHeight]="50"
            [scrollbarV]="false"
            [rows]='linhas'
            [count]="paginacao.totalResultados"
            [offset]="paginacao.paginaAtual"
            [limit]="paginacao.limit"
            (page)="setPage($event)"
            (sort)="onSort($event)"
            [externalSorting]="true"
            [externalPaging]="true"
        >


            <input
                type='text'
                placeholder='Type to filter the name column...'
            />

            <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">

                <ng-template let-row="row" ngx-datatable-row-detail-template>
                    <div style="padding-left:35xpx;">

                        <div>Cadastrado em: {{row.createdAt | date }}
                            <a (click)="detalhe(row.id)" >Detalhes</a>

                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-row-detail>




            <ngx-datatable-column
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [canAutoResize]="true"
                [flexGrow]="1"
            >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a

                        [class.datatable-icon-right]="!row.$$expanded"
                        [class.datatable-icon-down]="row.$$expanded"
                        title="Expand/Collapse Row"
                        (click)="toggleExpandRow(row)">
                    </a>
                </ng-template>
            </ngx-datatable-column>


            <!--ngx-datatable-column [flexGrow]="1" name="ID">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a class="idStyle {{row.status}}" (click)="detalhes(row.id)">{{row.id}}</a>
                </ng-template>
            </ngx-datatable-column-->

            <ngx-datatable-column name="Empresa" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <i *ngIf="row.empresa" (click)="detalhes(row.id)"> {{row.empresa.nome_fantasia}}</i>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <i *ngIf="row.statusnf" >
                        {{ statusNotaFiscal[row.statusnf] ? statusNotaFiscal[row.statusnf] : 'Indet' }}
                    </i>
                    <i *ngIf="!row.statusnf" >
                        Solicitada
                    </i>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Quitada" [flexGrow]="1" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.is_quitada | estaQuitada}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Numero" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.numero ? row.numero : 'Nao cadastrado'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Associado" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <i *ngFor="let assoca of row.associados">{{assoca.nome}}, <br /></i>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>


