<app-page-header [heading]="'Detalhes'" [icon]="'fa-table'"></app-page-header>
<div class="row">

    <style>

        html, body { height: 100%; width: 100%; margin: 0; }



    </style>



</div>
<div class="row">

<form [formGroup]="meuForm">
    <a aria-label="Previous" class="page-link" href="" tabindex="-1">
        <span aria-hidden="true" (click)="voltaTipo()">«Voltar</span>
    </a>

    <div>
        Endereço
    </div>
    <div class="form-group" >
        <label for="cep">Cep</label>
        <input type="text"  class="form-control" id="cep"
               formControlName="cep"  aria-describedby="emailHelp" placeholder="Cep">
    </div>
    <div class="form-group" >
        <label for="rua">Rua</label>
        <input type="text"  class="form-control" id="rua"
               formControlName="rua"  aria-describedby="emailHelp" placeholder="Rua">
    </div>
    <div class="form-group">
        <label for="numero">Numero</label>
        <input type="text" class="form-control" id="numero"
               formControlName="numero"
               placeholder="Numero">

    </div>
    <div class="form-group">
        <label for="complemento">Complemento</label>
        <input type="text" class="form-control" id="complemento"
               formControlName="complemento" aria-describedby="emailHelp2" placeholder="Complemento">
    </div>
    <div class="form-group">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control"
               formControlName="bairro" id="bairro" placeholder="Bairro" >
    </div>
    <div class="form-group">
        <label for="cidade">Cidade</label>
        <input   type="text" class="form-control"   id="cidade"
                 placeholder="Cidade"
                 formControlName="cidade"  >
    </div>
    <div class="form-group">
        <label for="estado">Estado</label>
        <input name="estado"
               formControlName="estado" type="text"
               class="form-control"  id="estado"  placeholder="estado">
    </div>
    <div class="form-group">
        <label for="pais">Pais</label>
        <input type="text" name="pais"
               formControlName="pais"
               class="form-control" id="pais"  placeholder="Entre com seu CPF">
    </div>
    <div class="form-group">
        <label for="obs">Obs:</label>
        <input type="text" name="obs"
               formControlName="obs"
               class="form-control" id="obs"  placeholder="Observação">
    </div>


    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
        <label class="form-check-label">
            <input class="form-check-checkbox" type="checkbox" name="is_ativo"
                   formControlName="is_ativo"
                    > Ativo
        </label>
    </div>


    <button class="danger" (click)="deletaEndereco(idEndereco)" >DELETAR</button>
    <button (click)="salvaEndereco()" >SALVAR</button>

</form>
</div>

