@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
.centralizando{
    align: center !important;

}
.sidebar{
    background-color: #292b2c;
    float:left;
    width:19%;
}
.list-group-item{
    background-color: #292b2c;

}
.form-control{
    float:right;

}
div.datatable-row-center > datatable-header-cell:first-of-type, div.datatable-row-group > datatable-body-cell:first-of-type {
    width:50px!important;
}
.ngx-datatable{
    width: 100% !important;
}
