<app-page-header [heading]="'Endereco'" [icon]="'fa-bar-chart-o'"></app-page-header>
<div class="row">

    <style>

        html, body { height: 100%; width: 100%; margin: 0; }

        .ngx-datatable{
           height: 100%;
        }
        .datatable-icon-skip:before {
            content: "\71";
        }
.datatable-scroll, .datatable-body{
    width: 100% !important;
}

    </style>





</div>
<div class="row"><button (click)="detalhes(0)">Novo</button></div>
<div class="row">

    <input
        type='text'
        placeholder='Filtre por'
    /><button>Filtrar</button>
    <ngx-datatable
        #myTable
        #table
        class='material expandable'
        [columnMode]=" flex"
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="50"
        [scrollbarV]="false"
        [rows]='rows'
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.pageSize"
        (page)="setPage($event)"
        (sort)="onSort($event)"
        [externalSorting]="true"
        [externalPaging]="true"
        >


        <input
            type='text'
            placeholder='Type to filter the name column...'
        />

        <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" ngx-datatable-row-detail-template>
                <div style="padding-left:35xpx;">
                    <div>Bairro: {{row.bairro}}</div>
                    <div>
                    <a (click)="detalhes(row.id)" >Detalhes</a>
                    <a (click)="detalhes(row.id)" >Negar</a>
                    <a (click)="detalhes(row.id)" >Detalhes</a>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-row-detail>




        <ngx-datatable-column
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="true"
            [flexGrow]="1"
        >
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a
                    [class.datatable-icon-right]="!row.$$expanded"
                    [class.datatable-icon-down]="row.$$expanded"
                    title="Expand/Collapse Row"
                    (click)="toggleExpandRow(row)">{{row.id}}
                </a>
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column [flexGrow]="1" name="ID">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a>{{row.id}}</a>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Rua" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.rua}}
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Complemento"[flexGrow]="1" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.complemento}}
            </ng-template>
        </ngx-datatable-column>


    </ngx-datatable>
</div>

