<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Liame</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.email" name="email" class="form-control input-underline input-lg"
                               id="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control input-underline input-lg"
                               id="password" placeholder="Senha">
                    </div>
                </div>
                <a class="btn rounded-btn"  (click)="logar()"> Login </a><!-- [routerLink]="['/dashboard']"-->
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']" (click)="telaCadastro()">Cadastrar</a>
            </form>
        </div>
    </div>
</div>
