/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
body{
    font-size: 11px;
}
.form-control{
    font-size: inherit !important;
}
