<h2 class="text-muted">Dashboard <small>Visão Geral</small></h2>

<hr>
<div class="row">
    <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'card-primary'"
                  [icon]="'fa-comments'" [count]="novasEmpresas"
                  [label]="'Novas Empresas!'" (click)="empresa()"  ></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'card-success'"
                  [icon]="'fa-shopping-cart'" [count]="novosAssociados"
                  [label]="'Novos Associados!'" (click)="associados()" >

        </app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'card-info'"
                  [icon]="'fa-tasks'" [count]="novasNotas"
                  [label]="'Novas Notas!'" ></app-stat>
    </div>



</div>
<hr />
<ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
