<app-page-header [heading]="'Detalhes'" [icon]="'fa-table'"></app-page-header>
<div class="row">


    <style>

        html, body { height: 100%; width: 100%; margin: 0; }

        .ngx-datatable{
            height: 100%;
        }
        .datatable-icon-skip:before {
            content: "\71";
        }
        .datatable-scroll, .datatable-body{
            width: 100% !important;
        }

    </style>
</div>
<div class="row">
    <button aria-label="Previous" href="" tabindex="-1">
        <span aria-hidden="true" (click)="voltaEmp()">«Voltar</span>
    </button>
</div>
<div class="row">

    <form [formGroup]="meuForm2">




        <div class="form-group" >
            <label for="frmNome">Razão Social:</label>
            <input type="text"  class="form-control" id="frmNome"
                   formControlName="razao_social" name="razao_social" aria-describedby="emailHelp" placeholder="Entre com a Razão social">
        </div>

        <div class="form-group" >
            <label for="nome_fantasia">Nome Fantasia:</label>
            <input type="text"  class="form-control" id="nome_fantasia"
                   formControlName="nome_fantasia" name="nome_fantasia" aria-describedby="emailHelp" placeholder="Entre com seu nome fantasia">
        </div>

        <div class="form-group" >
            <label for="obs">Observações:</label>
            <input type="text"  class="form-control" id="obs"
                   formControlName="obs" name="obs" aria-describedby="emailHelp" placeholder="Faça suas observações">
        </div>
        <div class="form-check mb-2 mr-sm-2 mb-sm-0">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Ativo
            </label>
        </div>
        <div class="form-check mb-2 mr-sm-2 mb-sm-0">
            <label class="form-check-label">

                <input class="form-check-input" type="checkbox"> Estrangeira
            </label>
        </div>
        <button type="button" (click)="salvarEmpresa()" >Salvar Alterações</button>
        <button type="submit" (click)="deletaEmpresa(idEmpresa)" >Deletar Empresa</button>

    </form>
</div>

