<app-page-header [heading]="'Dados Empresariais'" [icon]="'fa-table'"></app-page-header>
<div class="row">


    <style>

        html, body { height: 100%; width: 100%; margin: 0; }

        .ngx-datatable{
            height: 100%;
        }
        .datatable-icon-skip:before {
            content: "\71";
        }
        .datatable-scroll, .datatable-body{
            width: 100% !important;
        }

    </style>
</div>
    <div class="row">
        <button aria-label="Previous" href="" tabindex="-1">
            <span aria-hidden="true" (click)="voltaEmp()">«Voltar</span>
        </button>
    </div>
<div class="row">
    <form [formGroup]="meuForm2">


        <div class="form-group" >
            <label for="inscricao_estadual">CNPJ/CPF</label>
            <input type="text"  class="form-control" id="cnpj_cpf"
                   formControlName="cnpj_cpf" name="cnpj_cpf"  mask='00.000.000/0000-00' aria-describedby="emailHelp" placeholder="Entre com seu CNPJ/CPF">
        </div>
        <div class="form-group" >
            <label for="inscricao_municipal">Incr. Mun</label>
            <input type="text"  class="form-control" id="inscricao_municipal"
                   formControlName="inscricao_municipal" name="inscricao_municipal" aria-describedby="emailHelp" placeholder="Entre com a sua inscrição municipal">
        </div>
        <div class="form-group" >
            <label for="inscricao_estadual">Incr. Estadual</label>
            <input type="text"  class="form-control" id="inscricao_estadual"
                   formControlName="inscricao_estadual" name="inscricao_estadual" aria-describedby="emailHelp" placeholder="Entre com a sua inscrição estadual">
        </div>



        <div class="form-check mb-2 mr-sm-2 mb-sm-0">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> CNPJ
            </label>
        </div>

        <button type="submit" class="btn btn-success" (click)="salvaDados()" >Salvar</button>
        <button type="submit" class="btn btn-danger" (click)="deletaDados()" >Deletar</button>

    </form>
</div>


