<app-page-header [heading]="'Empresa'" [icon]="'fa-table'"></app-page-header>
<div class="row">


    <style>

        html, body { height: 100%; width: 100%; margin: 0; }

        .ngx-datatable{
            height: 100%;
        }
        .datatable-icon-skip:before {
            content: "\71";
        }
        .datatable-scroll, .datatable-body{
            width: 100% !important;
        }
        .plus {
                padding-left: 4px;
        }
        .row{
                width: 100%;
        }

    </style>

</div>
 <div class="row plus">
    <button (click)="detalhes()">Novo</button>
</div>
<div class="row plus">
        <input
            type='text'
            [(ngModel)]="busca"
            placeholder='Filtre por'
        /><button (click)="filtrar()">Filtrar</button>
</div>
<div class="row">
    <ngx-datatable
        #myTable
        #table
        class='material expandable'
        [columnMode]=" flex"
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="50"
        [scrollbarV]="false"
        [rows]='rows'
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.pageSize"
        (page)="setPage($event)"
        (sort)="onSort($event)"
        [externalSorting]="true"
        [externalPaging]="true"
    >




        <ngx-datatable-row-detail [rowHeight]="125" #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" ngx-datatable-row-detail-template>
                <div class="subTabela">

                    <div >
                        <span class="botaoPadrao1" (click)="detalhe(row.id)" >Detalhes </span>

                    </div>
                    <div *ngIf="!row.endereco || row.endereco.length <=0">
                        <a  class="botaoPadrao0" (click)="cadastrarEnderecoEmpresa(row.id,0)" >Endereço:</a>
                    </div>
                    <div *ngIf="row.endereco && row.endereco.length >0">
                        <a class="botaoPadrao0" (click)="cadastrarEnderecoEmpresa(row.id, row.endereco[0].id)">Endereço</a>:   {{row.endereco[0].rua}}
                    </div>
                    <div *ngIf="!row.dados || row.dados.length <= 0">
                        <a class="botaoPadrao1" (click)="cadastrarDadosEmpresa(row.id, 0)" >Dados: </a >
                    </div>
                    <div *ngIf="row.dados && row.dados.length > 0">
                        <a class="botaoPadrao1" (click)="cadastrarDadosEmpresa(row.id, row.dados[0].id)" >Dados: </a >Inscr. Est:{{row.dados[0].insc_estadual}}
                    </div>
                    <div *ngIf="!row.nfs || row.nfs.length <= 0">
                        <a class="botaoPadrao0">Sem NFs: </a >
                    </div>
                    <div *ngIf="row.nfs && row.nfs.length > 0">
                        <a class="botaoPadrao0"  >NFs: </a >{{row.nfs.length}}
                    </div>
<!--

                    <div *ngIf="row.endereco.length <= 0">
                        <a  class="botaoEmp endereçoEmp" (click)="detalhes(row.id)" >Dados Empresa:</a>
                    </div>
-->

                </div>
            </ng-template>
        </ngx-datatable-row-detail>




        <ngx-datatable-column
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="true"
            [flexGrow]="1"
        >
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a

                    [class.datatable-icon-right]="!row.$$expanded"
                    [class.datatable-icon-down]="row.$$expanded"
                    title="Expand/Collapse Row"
                    (click)="toggleExpandRow(row)">
                </a>
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column [flexGrow]="1" name="ID">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="idStyle {{row.status}}">{{row.id}}</a>
            </ng-template>
        </ngx-datatable-column>





        <ngx-datatable-column name="Nome" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.razao_social}}
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Email"[flexGrow]="1" >
            <ng-template let-row="row" ngx-datatable-cell-template>
           {{row.email}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status"[flexGrow]="1" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.status | statusEmpresa}}
            </ng-template>
        </ngx-datatable-column>




        <ngx-datatable-column name="CNPJ" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                <i *ngIf="row.dados">{{row.dados[0].cnpj_cpf}}</i>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>

</div>

