<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Liame</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.nome" name="nome" class="form-control input-underline input-lg"
                                placeholder="Nome Completo">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.username" name="username" class="form-control input-underline input-lg"
                               placeholder="Nome de Usuario">
                    </div>
                    <div class="form-group">
                        <input type="text"  [(ngModel)]="user.email" name="email" class="form-control input-underline input-lg"
                               placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password"  [(ngModel)]="user.password" name="password" class="form-control input-underline input-lg"
                                placeholder="Senha">
                    </div>

                </div>
                <a class="btn rounded-btn" style="text-align: center" (click)="cadastrar()"> Register </a>&nbsp;
                <!--a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a-->
            </form>
        </div>
    </div>
</div>
