<app-page-header [heading]="'Detalhes'" [icon]="'fa-table'"></app-page-header>
<div class="row">



    <style>

        html, body { height: 100%; width: 100%; margin: 0; }

        button, input{ 
            padding: 7px 10px 7px 10px;
            margin: 3px;
            line-height: normal;
        }
        button{
            background-color: #B7D9CB;
            color: white;
            border-style: none;
        }

    </style>



</div>
<div class="row">

<form [formGroup]="meuForm">
    <button aria-label="Previous" href="" tabindex="-1">
        <span aria-hidden="true" (click)="voltaAss()">«Voltar</span>
    </button>


    <div>
        Área de Atuação
    </div>
    <div class="form-group" >
        <label for="cod_banco">Código bancário</label>
        <input type="text"  class="form-control" id="cod_banco"
               formControlName="cod_banco"  aria-describedby="emailHelp" placeholder="Digite aqui o código bancário">
    </div>
    <div class="form-group" >
        <label for="agencia">Agência</label>
        <input type="text"  class="form-control" id="agencia"
               formControlName="agencia"  aria-describedby="emailHelp" placeholder="Digite aqui o número de sua agência">
    </div>
    <div class="form-group" >
        <label for="conta">Conta</label>
        <input type="text"  class="form-control" id="conta"
               formControlName="conta"  aria-describedby="emailHelp" placeholder="Digite aqui o número da sua conta">
    </div>
    <div class="form-group" >
        <label for="obs">Observações</label>
        <input type="text"  class="form-control" id="obs"
               formControlName="obs"  aria-describedby="emailHelp" placeholder="Digite aqui informações adicionais">
    </div><div class="form-group" >
        <label for="tipo_conta">Tipo de Conta</label>
        <input type="text"  class="form-control" id="tipo_conta"
               formControlName="tipo_conta"  aria-describedby="emailHelp" placeholder="Digite aqui tipo de conta">
    </div>
    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
        <label class="form-check-label">
            <input class="form-check-checkbox" type="checkbox" name="is_conjunta"
                   formControlName="is_conjunta"
            > Conta conjunta
        </label>
    </div>








    <button class="danger" (click)="deletaInfoBancaria(idAreaAtuacao)" >DELETAR</button>
    <button (click)="salvaInfoBancaria()" >SALVAR</button>

</form>
</div>

