<app-page-header [heading]="'Area de Atuacao'" [icon]="'fa-bar-chart-o'"></app-page-header>
<div class="row">


    <style>

        html, body { height: 100%; width: 100%; margin: 0; }

        .ngx-datatable{
            height: 100%;
        }
        .datatable-icon-skip:before {
            content: "\71";
        }
        .datatable-scroll, .datatable-body{
            width: 100% !important;
        }

    </style>





</div>
<div class="row"><button (click)="detalhes(0)">Novo</button></div>
<div class="row">

    <input
        type='text'
        [(ngModel)]="busca"
        placeholder='Filtre por'
    /><button (click)="filtrar()">Filtrar</button>
    <ngx-datatable
        #myTable
        #table
        class='material expandable'
        [columnMode]=" flex"
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="50"
        [scrollbarV]="false"
        [rows]='rows'
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.pageSize"
        (page)="setPage($event)"
        (sort)="onSort($event)"
        [externalSorting]="true"
        [externalPaging]="true"
    >


        <input
            type='text'
            placeholder='Type to filter the name column...'
        />






        <ngx-datatable-column
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="true"
            [flexGrow]="1"
        >

        </ngx-datatable-column>


        <ngx-datatable-column [flexGrow]="1" name="ID">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="detalhes(row.id)">{{row.id}}</a>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Rua" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.nome}}
            </ng-template>
        </ngx-datatable-column>




    </ngx-datatable>
</div>

