@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
.centralizando{
    align: center !important;

}
.sidebar{
    background-color: #292b2c;
    float:left;
    width:19%;
}
.list-group-item{
    background-color: #292b2c;

}
div.datatable-row-center > datatable-header-cell:first-of-type, div.datatable-row-group > datatable-body-cell:first-of-type {
    width:50px!important;
    border-right: none;
}
div.datatable-row-group > datatable-body-cell:last-of-type{
    border-right: none; 
}
div.datatable-row-group > datatable-body-cell:second-of-type{
    width: 100px!important; 
}
div.datatable-row-group > datatable-body-cell{
    border-right: solid lightgrey 2px;
    margin-top: 7px;    
    height:40px!important;
}
.ngx-datatable{
	width: 100% !important;
}
.ngx-datatable.material .datatable-body .datatable-row-detail{
	padding: 0;
	background-color: #CDE7DC;
}
button, input{ 
	padding: 7px 10px 7px 10px;
	margin: 3px;
	line-height: normal;
}
button{
	background-color: #B7D9CB;
	color: white;
	border-style: none;
}
input{
	background-color: white; 
}

div a:not([href]):not([tabindex]).idStyle{
	color: orange;
}
div a:not([href]):not([tabindex]).idStyle.certo{
	color: #6bcea5;
}
div a:not([href]):not([tabindex]).idStyle.emDia{
	color: #8CC5E3;
}
div a:not([href]):not([tabindex]).idStyle.emAtraso{
	color: #D68281;
}

.botaoPadrao0 {
	box-sizing: border-box;
	width: 200px;
	font-weight: normal;
	font-size: 1.2rem;
	font-family: inherit;
	border: solid 2px #CDE7DC;
	background-color: #B9D9CC;	
	display: inline-block;
	text-align: center;
}

.botaoPadrao1 {
	box-sizing: border-box;
	width: 200px;
	font-weight: normal;
	font-size: 1.2rem;
	font-family: inherit;
	border: solid 2px #CDE7DC;
	background-color: #C7E1D6;
	display: inline-block;
	text-align: center;	
}
.padrao0 {
    box-sizing: border-box;
    width: 100px;
    display: inline-block;
    text-align: center;
    float: left;
}
.form-control{
	width: 70%;
	display: inline-block;
}