    <app-page-header [heading]="'Associado'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">


        <style>

            html, body { height: 100%; width: 100%; margin: 0; }

            .ngx-datatable{
               height: 100%;
               width: 100%;
            }
            .plus {
                padding-left: 4px;
            }
            .row{
                width: 100%;
            }
            .datatable-icon-skip:before {
                content: "\71";
            }
            .datatable-scroll, .datatable-body{
                width: 100% !important;
            }
            .subTabela, .postIt{
                display: inline !important;
                float: left !important;
                margin: 2px;
                padding: 2px;
                min-height: 90px;
                text-wrap: normal;
            }
            .subTabela{
                min-width: 100% !important;
            }
            .impar{
                background-color: #B9D9CC;
                min-width: 20% !important;;
            }
            .par{
                background-color: #5bc0de;
                min-width: 20% !important;;
            }
        </style>
    </div>
        <div class="row plus">
            <button (click)="irParaCadastro()">Novo</button>
        </div>
        <div class="row plus">
            <input
                type='text'
                [(ngModel)]="busca"
                placeholder='Filtre por'
            /><button (click)="filtrar()">Filtrar</button>
        </div>
        <div class="row plus">
            <!--<div style="display:block;width: 100%">-->
                <!--<label class="padrao0" for="ftrEmpresa">Empresa:</label>-->
                <!--<select class="form-control fc0" id="ftrEmpresa" name="ftrEmpresa"  (change)="changeLstEmpresas($event.target)">-->
                    <!--<option value="0">Todas</option>-->
                    <!--<option *ngFor="let op of lstEmpresas" [value]="op.id">{{op.nome_fantasia}}</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--div style="display:block; width:100%">
                <label class="padrao0" for="ftrAssociado">E-mail:</label>
                <select class="form-control fc0" id="ftrAssociado" name="ftrAssociado"
                        (change)="changeLstEmail($event.target)">
                    <option value="0">Todos</option>
                    <option *ngFor="let op of lstAssociados" [value]="op.email">{{op.email}}</option>
                </select>
            </div-->
            <!--<div style="display:block;width: 100%">-->
                <!--<label class="padrao0" for="ftrStatusPag">Status:</label>-->
                <!--<select class="form-control fc0" id="ftrStatusPag" name="ftrStatusPag" (change)="changeLstStatus($event.target)">-->
                    <!--<option value="0">Todos</option>-->
                    <!--<option *ngFor="let key of keys" [value]="key" [label]="statusNotaFiscal[key]">{{key}}</option>-->
                <!--</select>-->
            <!--</div>-->



                <div class="form-group" >
                    <label class="padrao3" for="statusnf">Status</label>
                    <select class="form-control"  id="statusnf" name="statusnf" formControlName="statusnf"  aria-describedby="emailHelp">
                        <option value="0">Todos</option>
                        <option *ngFor="let key of keys" [value]="key" [label]="statusNotaFiscal[key]"></option>
                    </select>
                </div>



        </div>
        <div class="row plus">
        <ngx-datatable
            #myTable
            #table
            class='material expandable'
            [columnMode]=" flex"
            [headerHeight]="50"
            [footerHeight]="60"
            [rowHeight]="60"
            [scrollbarV]="false"
            [rows]='rows'
            [count]="paginacao.totalResultados"
        [offset]="paginacao.paginaAtual"
        [limit]="paginacao.limit"
            (page)="setPage($event)"
            (sort)="onSort($event)"
            [externalSorting]="true"
            [externalPaging]="true"
        >




            <ngx-datatable-row-detail [rowHeight]="220" #myDetailRow (toggle)="onDetailToggle($event)">
                <ng-template let-row="row" ngx-datatable-row-detail-template>
                    <div class="subTabela">
                            <div class="postIt par">Endereco:<br />
                                <div *ngIf="row.endereco.length <= 0">
                                    <a  (click)="detalhes(row.id)" >Nome Art:</a>
                                    {{row.nome_artistico}}
                                </div>
                                <div *ngIf="row.endereco.length <= 0">
                                    <a   (click)="cadastrarEnderecoUsuario(row.id, 0)" ><i class="fa fa-plus-square " aria-hidden="true"></i>
                                        Não cadastrado</a>

                                </div>
                                <div *ngIf="row.endereco.length > 0">
                                    <a   (click)="cadastrarEnderecoUsuario(row.id, row.endereco[0].id)"
                                    ><i class="fa fa-pencil-square" aria-hidden="true"></i>

                                        {{row.endereco[0].rua}}<br />
                                        {{row.endereco[0].numero }}, {{row.endereco[0].complemento}}<br />
                                        {{row.endereco[0].bairro}} - {{row.endereco[0].cidade}}<br />
                                    Cep: {{row.endereco[0].cep}}</a>
                                </div>
                            </div>
                            <div class="postIt impar">Info Bancaria:<br />
                                <div *ngIf="!row.info_bancaria || row.info_bancaria <= 0">
                                    <b  (click)="cadastraInfoBancaria(row.id,0)" ><i class="fa fa-plus-square " aria-hidden="true"></i>
                                        Não Cadastrada</b>
                                </div>
                                <div *ngIf="row.info_bancaria && row.info_bancaria.length > 0">
                                    <a   (click)="cadastraInfoBancaria(row.id,row.info_bancaria[0].id)" ><i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        Banco:{{row.info_bancaria[0].cod_banco}}<br />
                                        Ag:{{row.info_bancaria[0].agencia}}<br />
                                        CC: {{row.info_bancaria[0].conta}}</a>&nbsp;


                                </div>
                            </div>
                            <div class="postIt par">Notas:<br />
                                <b  (click)="cadastraNF(row.id,0)" ><i class="fa fa-plus-square " aria-hidden="true"></i>
                                    Nova</b><br />
                                <i *ngIf="row.nfs.length > 0">{{row.nfs.length}} NFS<br />
                                <div *ngFor="let n of row.nfs">
                                    <a   (click)="cadastraNF(row.id,n.id)" ><i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        {{n.numero ? n.numero : 'Sem Numero'}}</a>
                                </div></i>
                                <i *ngIf="row.nfs.length <= 0">
                                    Nenhuma nota</i>&nbsp;
                            </div>
                            <div class="postIt impar">Pagamentos:<br />

                                <i *ngIf="row.pagamentos && row.pagamentos.length > 0">{{row.pagamentos.length}} Pag.<br />
                                    <div *ngFor="let n of row.pagamentos">
                                        <a   (click)="cadastraNF(row.id,n.id)" ><i class="fa fa-pencil-square" aria-hidden="true"></i>
                                            {{n.id ? n.id : 'Sem Numero'}}</a>
                                    </div>
                                </i>
                                <i *ngIf="!row.pagamentos">
                                    Nenhum pagamento</i>&nbsp;
                            </div>
                            <!--div *ngIf="row.endereco.length <= 0">
                                <a class="botaoPadrao0" (click)="detalhes(row.id)" >Nome Art:</a>&nbsp;{{row.nome_artistico}}
                            </div>
                            <div *ngIf="row.endereco.length <= 0">
                                <a  class="botaoPadrao1" (click)="cadastrarEnderecoUsuario(row.id, 0)" >Endereço:</a>&nbsp;Não cadastrado
                            </div>
                            <div *ngIf="row.endereco.length > 0">
                                <a  class="botaoPadrao0" (click)="cadastrarEnderecoUsuario(row.id, row.endereco[0].id)" >Endereço:</a>&nbsp;{{row.endereco[0].rua}}
                            </div>
                            <div *ngIf="row.infobancaria <= 0">
                                <b  class="botaoPadrao0" (click)="cadastraInfoBancaria(row.id,0)" >Info Banc:</b>&nbsp;Não Cadastrada
                            </div>
                            <div *ngIf="row.infobancaria > 0">
                                <b  class="botaoPadrao0" (click)="cadastraInfoBancaria(row.id,row.infobancaria[0].id)" >Info Banc:</b>&nbsp;
                                Ag:{{row.infobancaria[0].agencia}} CC: {{row.infobancaria[0].conta}}
                            </div>
                            <div>
                                <b class="botaoPadrao1"> Notas: </b>
                                    <i *ngIf="row.nfs.length <= 0">{{row.nfs.length}}</i>&nbsp;
                                    <i *ngIf="row.nfs.length > 0">Nenhuma nota</i>&nbsp;
                            </div>
                            <div>
                                <b class="botaoPadrao0">Pagamentos: </b>
                                    <i *ngIf="row.pagamentos && row.pagamentos.length <= 0">{{row.pagamentos.length}}</i>&nbsp;
                                    <i *ngIf="!row.pagamentos">Nenhum pagamento</i>&nbsp;

                            </div>
                            <div>
                                <span class="botaoPadrao1" (click)="cadastrarAreaAtuacao(row.id)"> Area de Atuação:<i *ngFor="let aa of row.areas">
                                {{aa.nome}},</i>
                                </span>
                            </div>

                            <div *ngIf="row.endereco.length <= 0">
                                <a class="botaoPadrao0" (click)="detalhes(row.id, 0)" >Detalhes: </a>
                            </div-->


                    </div>
                </ng-template>
            </ngx-datatable-row-detail>




            <ngx-datatable-column
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [canAutoResize]="true"
                [flexGrow]="1"
            >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a

                        [class.datatable-icon-right]="!row.$$expanded"
                        [class.datatable-icon-down]="row.$$expanded"
                        title="Expand/Collapse Row"
                        (click)="toggleExpandRow(row)">
                    </a>
                </ng-template>
            </ngx-datatable-column>



            <ngx-datatable-column name="Nome" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a  (click)="detalhes(row.id, 0)" >{{row.nome}}</a>
                </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column name="Email"[flexGrow]="1" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.email}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status"[flexGrow]="1" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.status | statusAssociado}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="CPF" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.cpf | cpfMask}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ações" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                <i class="fa fa-check-square" aria-hidden="true" (click)="aprovar(row.id)">Aprovar</i>
                <i class="fa fa-minus-circle" aria-hidden="true" (click)="aprovar(row.id)">Negar</i>
                <i class="fa fa-times-circle" aria-hidden="true" (click)="aprovar(row.id)">Desligar</i>
                <i class="fa fa-info" aria-hidden="true" (click)="aprovar(row.id)">Ver</i>
                <i class="fa fa-key" aria-hidden="true" (click)="aprovar(row.id)">Senha</i>
                <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="aprovar(row.id)">Editar</i>

            </ng-template>
        </ngx-datatable-column>
        </ngx-datatable>

        </div>
