<app-page-header [heading]="'Detalhes'" [icon]="'fa-table'"></app-page-header>
<div class="row">

    <!--div _ngcontent-c12="" class="alert alert-danger"  *ngIf="avisoErro">
        <strong _ngcontent-c12="">Oh snap!</strong> Change a few things up and try submitting again.
    </div-->


    <style>

        html, body { height: 100%; width: 100%; margin: 0; }

        .ngx-datatable{
            height: 100%;
        }
        .datatable-icon-skip:before {
            content: "\71";
        }
        .datatable-scroll, .datatable-body{
            width: 100% !important;
        }

    </style>



    <button aria-label="Previous"  href="" tabindex="-1">
        <span aria-hidden="true" (click)="voltaAss()">«Voltar</span>
    </button>
    <button aria-label="Previous" href="" tabindex="-1">
        <span aria-hidden="true" (click)="editar ()">Editar</span>
    </button>

</div>
<div class="row">
<form [formGroup]="meuForm">


    <div>
        Dados do Associado
    </div>

    <div class="form-group" >
        <label class="padrao0" for="frmNome">Nome</label>
        <input type="text"  class="form-control" id="frmNome"
               formControlName="nome"  aria-describedby="emailHelp" placeholder="Entre com seu nome">
    </div>
    <div class="form-group">
        <label class="padrao0" for="frmNomeArtistico">Nome Artistico</label>
        <input type="text" class="form-control" id="frmNomeArtistico"
               formControlName="nome_artistico"
               placeholder="Entre com seu nome artistico">

    </div>
    <div class="form-group">
        <label class="padrao0" for="exampleInputEmail2">Email</label>
        <input type="text" class="form-control" id="exampleInputEmail2"
               formControlName="email" aria-describedby="emailHelp2" placeholder="Entre com seu email">
        <small id="emailHelp2" class="form-text text-muted">Não compartilharemos seu email com ninguém.</small>
    </div>
    <div class="form-group">
        <label class="padrao0" for="frmDataNasc">Data Nasc</label>
        <input type="date" class="form-control"
               formControlName="data_nascimento" id="frmDataNasc" (change)="loga" >
    </div>
    <div class="form-group">
        <label class="padrao0" for="frmIdentidade">Identidade</label>
        <input   type="text" class="form-control"  id="frmIdentidade"
                 placeholder="Entre com sua identidade"
                 formControlName="identidade"  >
    </div>
    <div class="form-group">
        <label class="padrao0" for="frmOrgao">Orgão Expeditor</label>
        <input name="orgao_expedidor"
               formControlName="orgao_expedidor" type="text"
               class="form-control"  id="frmOrgao"  placeholder="Entre com sua identidade">
    </div>
    <div class="form-group">
        <label class="padrao0" for="frmCPF">CPF</label>
        <input type="text" name="cpf" formControlName="cpf" class="form-control"
               specialCharacters="false" id="frmCPF" mask='000.000.000-00' placeholder="Entre com seu CPF">
    </div>

    <div class="form-group">
        <label class="padrao0" for="coordenador">Coordenador</label>
        <select class="form-control" id="coordenador"
                formControlName="coordenador" name="coordenador" >
            <option value="0">--selecione um coordenador--</option>
            <option *ngFor="let c of coordenadores" [ngValue]="c.id"
                    [selected]="(associado) && (c.id === associado.coordenador)">{{c.nome}}</option>

        </select>

    </div>
    <!--div class="form-group">
        <label for="frmTel">Tel</label>
        <input type="number" name="telefone_residencial"
               formControlName="telefone_residencial"
               class="form-control" id="frmTel"  mask="(00)0000-0000"  placeholder="Entre com seu Tel">
    </div-->

    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
        <label class="form-check-label">
            <input class="form-check-checkbox" type="checkbox" name="status"
                   formControlName="status"
                    > Ativo
        </label>
    </div>
    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
        <label class="form-check-label">
            <input class="form-check-checkbox" type="checkbox" value=1 name="is_coordenador"
                   formControlName="is_coordenador"
                    > Coordenador
        </label>
    </div>
    <div class="postIt par">Notas:<br />
        <b  (click)="cadastraNF(row.id,0)" ><i class="fa fa-plus-square " aria-hidden="true"></i>
            Nova
        </b>
        <br/>
        <i *ngIf="row.nfs.length > 0">{{row.nfs.length}} NFS <br/>
            <div *ngFor="let n of row.nfs">
                <a   (click)="cadastraNF(row.id,n.id)" ><i class="fa fa-pencil-square" aria-hidden="true"></i>
                    {{n.numero ? n.numero : 'Sem Numero'}}
                </a>
            </div>
        </i>
        <i *ngIf="row.nfs.length <= 0">
            Nenhuma nota
        </i>&nbsp;
    </div>
    <div class="postIt impar">Pagamentos:<br />
        <i *ngIf="row.pagamentos && row.pagamentos.length > 0">
            {{row.pagamentos.length}} Pag.<br/>
            <div *ngFor="let n of row.pagamentos">
                <a   (click)="cadastraNF(row.id,n.id)" ><i class="fa fa-pencil-square" aria-hidden="true"></i>
                    {{n.id ? n.id : 'Sem Numero'}}
                </a>
            </div>
        </i>
        <i *ngIf="!row.pagamentos">
            Nenhum pagamento
        </i>&nbsp;
    </div>

    <button class="danger" (click)="deletaAssociado(idAssociado)" >DELETAR</button>
    <button (click)="salvarAssociado()" >SALVAR</button>
    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
        <select class="form-control" id="coordenador"
                formControlName="status" name="status" (change)="mudaStatusAssociado">
            <option value="0">--mudar status para--</option>
            <option *ngFor="let c of statusAssoc" [ngValue]="c.key">{{c}}</option>
        </select>
    </div>

</form>
</div>

